/* Reseteo básico*/
body {
  margin: 0;
  padding: 0;
  background: #050507;
  overflow: hidden; /* evita que aparezcan scrollbars */
}

/* p5.js inserta un <canvas> dentro del body. */
canvas {
  display: block;
}
